---
---

@import "{{ site.theme }}";

html


h1 {
  font-size: 75px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  margin: auto;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#images {   
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: stretch; // flex-start | flex-end | center | baseline;
    max-width:33%;
    max-height:auto;
      
}
#images a {
    display: inline-block;    
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding:0;

}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;  
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  color: WHITE;

}





