---
---

@import "{{ site.theme }}";

html


h1 {
  font-size: 75px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  margin: auto;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#images {   
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:100%
      
}
#images a {
   display:inline-block;
   max-width:30%;
}

#twitter-align
{
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:100%
}
#twitter-align a {
   display:inline-block;
    max-width:30%;
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding:0;

}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;  
  list-style-type: none;
  color: WHITE;

}





