---
---

@import "{{ site.theme }}";

html,body
h1 {
  font-size: 75px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  position: relative;
  text-align: center;
  margin:5px;
  letter-spacing: 3.5px;
  line-height: 75px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

 h1:after {
     background: none repeat scroll 0 0 #HEXCOLOR;
     bottom: -10px;
     content: "";
     display: block;
     height: 10px;
     position: relative;
     width: 100px;
 }

a.twitter-timeline {
  width:300px; 
  margin:auto;
  padding:70px 35px;
  border-radius:50%;
  background:#333;
  box-shadow:
    0px 0px 50px #222 inset,
    0px -20px 20px #000 inset,
    0px 25px 20px #222 inset;
  text-align:center;
  margin:0 auto;
}


p {
  font-size: 30px;
  color: WHITE;
}

img {    
    margin: 10px;
}

