---
---

@import "{{ site.theme }}";

html
body {
}

header {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align:center; // flex-start | flex-end | center | baseline;
  width:100%;
  margin:0 auto;
  letter-spacing: 3.5px;
  line-height: auto;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#images {   
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:99%;
}
#images img {
   display:inline-block;
   max-width:33%;
   }

#twitter-align
{
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:100%;
    margin:0;
    padding:0;
    
}
#twitter-align a {
   display:inline-block;
   max-width:30%;
   margin:10px;
}

ul {
    display: flex;
    align-items: flex-start; /* Default */
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding:0;

}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;  
  list-style-type: none;
  max-width:33%;
  color: WHITE;

}

  







