---
---

@import "{{ site.theme }}";

html,body
h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  margin:5px;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {    
    margin: 10px;
}




