---
---

@import "{{ site.theme }}";

html
body {
}

header {
  font-family: 'Bree Serif', serif;
  height: 150px;
  line-height:100px;
  width: 100%;
  font-size: 100px;
  color: #FFF;
  text-align: center;
  padding: 0 20px;
  padding-bottom:10px;
  margin: 20px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#images {   

    display: -webkit-flex;
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: center; // flex-start | flex-end | center | baseline;
}
#images img {
   display:inline-block;
   width:33%
   }

#twitter-align
{

    display: -webkit-flex;
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: center; // flex-start | flex-end | center | baseline;
    margin:0;
    padding:0;
    
}
#twitter-align a {
   display:inline-block;
   margin:10px;
}

.flex-container {
  width:100%;
}

.dropdown-content {
  background-color:Gray;
}
ul {
  background-color: GRAY;
}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;  
  list-style-type: none;
  max-width:33%;
  color: WHITE;

}
