---
---

@import "{{ site.theme }}";

html,body
h1 {
  font-size: 75px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  position: relative;
  text-align: center;
  margin:5px;
  letter-spacing: 3.5px;
  line-height: 75px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

 h1:after {
     background: none repeat scroll 0 0 #HEXCOLOR;
     bottom: -10px;
     content: "";
     display: block;
     height: 10px;
     position: relative;
     width: 100px;
 }


p {
  font-size: 30px;
  color: WHITE;
}

img {    
    margin: 10px;
}

article, article article {
    margin-left: 48px;
    border: 0px solid #000;
    margin-bottom: 10px;

}

