---
---

@import "{{ site.theme }}";

html


h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  padding-bottom:auto;
  color: WHITE;
  text-align: center;
  margin: auto;
  max-width:100%;
  letter-spacing: 3.5px;
  line-height: auto;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#images {   
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:99%;
}
#images img {
   display:inline-block;
   max-width:33%;
   }

#twitter-align
{
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: flex-start; // flex-start | flex-end | center | baseline;
    width:100%;
    
}
#twitter-align a {
   display:inline-block;
   max-width:33%;
   height:200;
}

ul {
    display: flex;
    align-items: flex-start; /* Default */
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding:0;

}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;  
  list-style-type: none;
  max-width:33%;
  color: WHITE;

}
@media only screen and (min-width: 600px) and (max-width:1500 px) {
    /* ruleset for 320px - 480px */
  h1 {
    font-size:10px;
  }
  # image {
    width:100%
  }
  
}






