---
---

@import "{{ site.theme }}";

html


h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  margin: auto;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {    
   border:none;
   margin:auto;
   margin-left:10px;
   max-width:30%;
   float: left;
   text-align: center;
}




li {
  font-size:auto;
  min-width:50px;
  max-width:33%;
  font-weight: 100;
  padding-left:10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: stretch;
  justify-content: space-between;  
  color: WHITE;
}





