---
---

@import "{{ site.theme }}";

html
body {
}

header {
  font-family: 'Bree Serif', serif;
  height: 150px;
  line-height:100px;
  width: 100%;
  font-size: 100px;
  color: #FFF;
  text-align: center;
  padding: 0 20px;
  padding-bottom:10px;
  margin: 20px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#menu {
  margin-left:1px;
  height:10px;
  width:10px;
  position:fixed;
  z-index:1;
}

#images {   

    display: -webkit-flex;
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: center; // flex-start | flex-end | center | baseline;
}
#images img {
   display:inline-block;
   width:33%
   }

#twitter-align
{

    display: -webkit-flex;
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: center; // flex-start | flex-end | center | baseline;
    margin:0;
    padding:0;
    
}
#twitter-align a {
   display:inline-block;
   margin:10px;
}

h1 {
  color:white;
  font-size:15px;
}
h3 {
  color:white;
  font-size:15px;
}
h4 {
  color:white;
  font-size:15px;
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content li {
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: WHITE;
}

.dropdown-content li a {
    display: block;
    color: White;
    padding: 5px 15px;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: White;
    color: Black;
}
.News {
  margin:10px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 400px; /* Chrome, Safari, Opera */
  -moz-column-gap: 400px ;//Firefox */
  column-gap: 400px;
}
.News ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.News li {
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: WHITE;
}
.News li a {
    display: block;
    text-decoration: none;
}

.league {
  
}
.wow {
  
}
.overwatch {
  border-color:white;
}
