---
---

@import "{{ site.theme }}";

html


h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  margin-left:10px;
  margin-right:10px;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {    
   border:none;
   margin:5px;
   margin-bottom:20%;
   display: inline-block;  
}

.imgContainer {
  overflow:hidden;
}

.imgContainer img {
  max-width:100%;
  height:auto;
  display:inline-block;
}

.left{
  float:left;
  top:0px;
}
.center{
  float:center;
  top:0px;
}
.right{
  float:right;
  top:0px;
}


li {
  min-width:50px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-left:20px;
  margin-right:20px;
  text-transform: uppercase;
  display: inline-block;
  color: WHITE;
}





