

html
body {
  background-color: Gray;
}

h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  text-align: center;
  letter-spacing: 3.5px;
  line-height: 100px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {    
   border:none;
   margin:5px;
}


li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  margin-right: 20px;
  margin-left:20px;
  text-transform: uppercase;
  display: inline-block;
  color: WHITE;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* ruleset for 320px - 480px */
}




