---
---

@import "{{ site.theme }}";

html,body
h1 {
  font-size: 75px;
  font-family: 'Bree Serif', serif;
  color: WHITE;
  margin: auto;
  letter-spacing: 3.5px;
  line-height: 75px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h2 {
  font-size: 75px;
  color: BLUE;
}
p {
  font-size: 30px;
  color: WHITE;
}

img {
    display: block;
    margin: 10px;
}

